---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app hypermind
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  uninstall:
    keepHistory: false
  values:
    controllers:
      hypermind:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/lklynet/hypermind
              tag: 1.0.1@sha256:74b7a0335214fea872c578fcf2f04432fd5b29c5340fadcae2e2572a5a611959
            env:
              TZ: ${TIMEZONE}
              ENABLE_CHAT: true
              ENABLE_MAP: true
              MAX_CONNECTIONS: 100
              MAX_RELAY_HOPS: 30
              PORT: &port 3000

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/stats
                    port: *port
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

            resources:
              requests:
                cpu: 100m
                memory: 400Mi
              limits:
                memory: 600Mi

        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 100
            fsGroup: 100
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          glance/internal: "true"
          glance/icon: di:salad
          glance/description: P2P Counter
          glance/id: Internal Apps
        hosts:
          - host: &host "hypermind.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
