---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app romm
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      romm:
        labels:
          nfsMount: "true"
          postgres: "true"
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 4.6.1@sha256:7f8b04e2e7652ae3121f19e712373bc021530b3c500e0c077c69a9cfe431395c
            env:
              TZ: ${TIMEZONE}
              DISABLE_DOWNLOAD_ENDPOINT_AUTH: true
              ENABLE_SCHEDULED_RESCAN: true
              SCHEDULED_RESCAN_CRON: "0 3 * * *"
              ROMM_DB_DRIVER: postgresql
              ROMM_PORT: &port 8080
              HASHEOUS_API_ENABLED: true
            envFrom: *envFrom

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 3500Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port

    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          glance/internal: "true"
          glance/icon: di:romm
          glance/description: Rom Manager
          glance/id: Internal Apps
        hosts:
          - host: &host "romm.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      # config:
      #   type: configMap
      #   name: "{{ .Release.Name }}-configmap"
      #   globalMounts:
      #     - path: /romm/config/config.yml
      #       subPath: config.yml
      #       readOnly: true

      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          romm:
            app:
              - path: /romm/resources
                subPath: resources
              - path: /romm/assets
                subPath: assets

      games:
        type: nfs
        server: ${NAS_ADDR}
        path: /mnt/external/Media/Roms
        globalMounts:
          - path: /romm/library

      tmpfs:
        type: emptyDir
        advancedMounts:
          romm:
            app:
              - path: /romm/config
                subPath: config
              - path: /tmp
                subPath: tmp
