---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name external-dns-unifi
  namespace: network
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns-unifi-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        UNIFI_API_KEY: "{{ .UNIFI_API_KEY }}"
  dataFrom:
    - extract:
        key: unifi